<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="views/index.css">
</head>
<body ng-app="myApp" ng-cloak ng-controller="myCtrl">
  <div class="w3-container w3-teal">
    <h1><i class="fa fa-picture-o"></i> IMAGE CLASSIFICATION</h1>
  </div>
  <div class="w3-row-padding w3-margin-top" ng-repeat="image in images" ng-if="$index%5==0">
    <div class="w3-col m1 l1"></div>
    <div class="w3-col m2 l2">
      <div class="w3-card-2">
        <img class="w3-hover-opacity" ng-src="{{images[$index]}}" style="width:100%">
        <ul style="list-style: none;">
		  <li ng-repeat="c in colors" style="float: left; width: 12.5%;">
		    <a style="background-color: rgb({{c[0]}}, {{c[1]}}, {{c[2]}}); height: 12px; width: 100%;" title="" href="">fsdfsdf</a>
		  </li>
		</ul>
      </div>
    </div>
    <div ng-if="images.length > $index + 1" class="w3-col m2 l2">
      <div class="w3-card-2">
        <img ng-src="{{images[$index+1]}}" style="width:100%">
      </div>
    </div>
    <div ng-if="images.length > $index + 2" class="w3-col m2 l2">
      <div class="w3-card-2">
        <img ng-src="{{images[$index+2]}}" style="width:100%">
      </div>
    </div>
    <div ng-if="images.length > $index + 3" class="w3-col m2 l2">
      <div class="w3-card-2">
        <img ng-src="{{images[$index+3]}}" style="width:100%">
      </div>
    </div>
    <div ng-if="images.length > $index + 4" class="w3-col m2 l2">
      <div class="w3-card-2">
        <img ng-src="{{images[$index+4]}}" style="width:100%">
      </div>
    </div>
	<div class="w3-col m1 l1"></div>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script>
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope, $http) {
  
    $scope.colors = [ 
	  [ 215, 47, 44 ],
      [ 237, 222, 205 ],
      [ 137, 28, 22 ],
      [ 190, 135, 94 ],
      [ 198, 159, 107 ],
      [ 221, 98, 100 ],
      [ 236, 148, 148 ] 
	];
	
    $scope.images = [];

    $http.get('/photos').then(function(response) {
      $scope.images = response.data
    });
  });
  </script>
</body>
</html>
