user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
  use epoll;
  worker_connections 1024;
  multi_accept on;
}

http {
  server {
    root /home/azouzim/imageboard/frontend/www;
    listen 8080;
    expires max;

    location / {
      include /usr/local/nginx/conf/mime.types;
      index index.html;
      gzip_static on;
      sendfile on;
      sendfile_max_chunk 1m;
      tcp_nopush on;
      tcp_nodelay on;
      #keepalive_timeout 65;
    }

    location /uploads/ {
      autoindex on;
    }

    access_log /usr/local/nginx/logs/access.log;
    error_log /usr/local/nginx/logs/error.log;
  }
}
