user www-data;
worker_processes 2;
pid /var/run/nginx.pid;

events {
  use epoll;
  worker_connections 1024;
  multi_accept on;
}

http {

  # don't send the nginx version number in error pages and Server header
  server_tokens off;

  open_file_cache max=1000 inactive=20s;
  open_file_cache_valid 30s;
  open_file_cache_min_uses 2;
  open_file_cache_errors on;

  server {
    listen 8080;
    location / {
      # Redirects all plain HTTP requests to the encrypted version of the site.
      return 301 https://$host$request_uri;
    }
  }

  server {
    root /home/azouzim/imageboard/frontend/www;
    listen 443 ssl http2;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;#enable only these three, considered currently secure protocols
    server_name localhost;
    expires max;
    error_log /var/log/nginx/error.log;
    access_log off;

    ssl on;
    ssl_certificate /etc/nginx/ssl/certificate.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;
    # enable session resumption to improve https performance
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;

    location / {
      index index.html;
      gzip_static on;
      sendfile on;
      sendfile_max_chunk 1m;
      tcp_nopush on;
      tcp_nodelay on;
      keepalive_timeout 65;
    }

    location /upload/ {
      autoindex on;
    }
  }
}
