swagger: '2.0'
info:
  title: Authentication API
  description: Move your app forward with the Uber API
  version: "1.0.0"
  contact:
    name: API Support
    url: http://www.swagger.io/support
    email: support@swagger.io
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /login:
    post:
      summary: Authentication
      description: |
        Logs user into the system.
        Requests that require authentication will return 404 Not Found,
        instead of 403 Forbidden, in some places. This is to prevent
        the accidental leakage of private repositories to unauthorized users.
        After detecting several requests with invalid credentials within a short period, 
        the API will temporarily reject all authentication attempts for that user
        (including ones with valid credentials) with 403 Forbidden
      parameters:
      - name: username
        in: body
        description: The user name for login
        required: true
        type: string
      - name: password
        in: body
        description: The password for login in clear text
        required: true
        type: password
      responses:
        200:
          description: successful operation
          schema:
            type: string
          headers:
            X-Rate-Limit:
              type: integer
              format: int32
              description: calls per hour allowed by the user
            X-Expires-After:
              type: string
              format: date-time
              description: date in UTC when token expires
        400:
          description: Username and password required
        401:
          description: Invalid username/password supplied
        403:
          description: Maximum number of login attempts exceeded. Please try again later.
