user www-data;
worker_processes 2;
pid /var/run/nginx.pid;

events {
  worker_connections 1000;
}

http {
  upstream userserver {
    server 127.0.0.1:3001;
  }

  server {
    listen 80;
    server_name localhost;

    location / {
      proxy_pass http://userserver/;
    }

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
    #error_log stderr; ??
  }
}
