img {
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.action {
  color: #aaa;
  cursor:pointer;
  transition: color .2s ease-in;
}

.actions {
  opacity: 0;
}

.parent:hover .actions {
  opacity: 0.6;
  transition: opacity .3s ease-in;
}

.report:hover {
  color: #B60707;
}

.upvote:hover {
  color: #FF0080;
}

.downvote:hover {
  color: #369FBF;
}

.pin:hover {
  color: #F8CA00;
}

.pinned {
  background-color:#444;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

textarea {
   resize: none;
}
