.bright {
  opacity:0.8;
  cursor:pointer;
}

.bright:hover {
  opacity:1;
}

.like {
  color: #aaa;
  cursor:pointer;
  transition: color .2s ease-in;
}

.like:hover {
  color: #FF0080;
}

.pinned {
  background-color:#444;
}
